*.o
*.lo
*.slo
*.la
config.status
configure
config.log
.libs
autom4te.cache
config7.m4
cscope.files
cscope.out
.deps
Makefile
build/PrintPath
build/apr_common.m4
build/config.guess
build/config.sub
build/config_vars.mk
build/config_vars.sh
build/find_apr.m4
build/find_apu.m4
build/ltmain.sh
build/pkg/pkginfo
build/rules.mk
config.nice
docs/conf/extra/httpd-autoindex.conf
docs/conf/extra/httpd-dav.conf
docs/conf/extra/httpd-default.conf
docs/conf/extra/httpd-info.conf
docs/conf/extra/httpd-languages.conf
docs/conf/extra/httpd-manual.conf
docs/conf/extra/httpd-mpm.conf
docs/conf/extra/httpd-multilang-errordoc.conf
docs/conf/extra/httpd-ssl.conf
docs/conf/extra/httpd-userdir.conf
docs/conf/extra/httpd-vhosts.conf
docs/conf/httpd.conf
httpd
httpd.spec
include/ap_config_auto.h
include/ap_config_auto.h.in
include/ap_config_layout.h
/modules.c
modules/aaa/modules.mk
modules/arch/win32/modules.mk
modules/cache/modules.mk
modules/database/modules.mk
modules/dav/fs/modules.mk
modules/dav/lock/modules.mk
modules/dav/main/modules.mk
modules/debug/modules.mk
modules/echo/modules.mk
modules/experimental/modules.mk
modules/filters/modules.mk
modules/generators/modules.mk
modules/http/modules.mk
modules/ldap/modules.mk
modules/loggers/modules.mk
modules/mappers/modules.mk
modules/metadata/modules.mk
modules/proxy/modules.mk
modules/ssl/modules.mk
modules/test/modules.mk
server/export_files
server/export_vars.h
server/exports.c
server/gen_test_char
server/httpd.exp
server/test_char.h
srclib/pcre/chartables.c
srclib/pcre/config.h
srclib/pcre/dftables
srclib/pcre/pcre-config
srclib/pcre/pcre.h
support/ab
support/apachectl
support/apxs
support/checkgid
support/dbmmanage
support/envvars-std
support/htcacheclean
support/htdbm
support/htdigest
support/htpasswd
support/httxt2dbm
support/log_server_status
support/logresolve
support/logresolve.pl
support/phf_abuse_log.cgi
support/rotatelogs
support/split-logfile
.lime-config-generated.mk
